.red {
	color: #7C1519;
}
.btn-primary {
	background-color: #7C1519 !important;
	border-color: #4B0608 !important;
}
.btn-grey {
	color: #FFF;
	background-color: #838383;
	border-color: #6F6F6F;
}
.loader {
	background-color: rgba(87, 8, 11, 1);
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	border: 1px solid rgb(153, 98, 3);
	box-shadow: 0px 0px 10px rgb(153, 98, 3);
}
.loader-wrapper {
	position: fixed;
	top: 40%;
}

#dashboard {
	background: url('../img/bg.jpg') repeat center top;
	color: #fff;
}
body {
	background: #dcdee3;
}
.header-wrapper {
   	background: #7C1519;
	padding: 5px 0;
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 85%;
}
.header-wrapper a {
	color: #fff;
}
.header-wrapper a:hover {
	color: #fff;
}
.logo {
	position: fixed;
	bottom: 6%;
	left: 0;
	text-align: center;
}
@media (max-width: 349px) {
	#dashboard .logo img {
		width: 100%;
	}
	#dashboard .col-xs-3 {
		padding: 8px;
	}
	#dashboard .item .item-label {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
@media (min-width: 350px) {
	#dashboard .logo img {
		width: 335px;
	}
}
.item {
	margin-top: 15px;
	height: 89px;
}

@media (max-width: 399px) {
	#dashboard .item .item-img {
		width: 100%;
	}
}
@media (min-width: 400px) {
	#dashboard .item .item-img {
		width: 71px;
	}
}
.item .item-label {
	font-size: 13px;
}
a, label {
	color: #7C1519;
}
a:hover {
	text-decoration: none;
	color: #7C1519;
}
.menus {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #D4D4D4;
	font-size: 10px;
	font-weight: 100;
	padding-top: 5px;
	z-index: 100;
}
.menu {
	padding: 0;
	text-align: center;
	color: #979797;
}
.menu:active {
	color: #108FC2;
}
.menu-icon {
	font-size: 16px;
}
#main-content {
	margin: 0;
}
.post, .news {		
	background: #fff;
	margin: 0 0 16px 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	box-shadow: 0px 3px 6px #7C1519;
	letter-spacing: .08em;
}
.posts, .newss {
	margin-bottom: 50px;
}
.post-author, .news-author {
	font-weight: 600;
	padding-left: 5px;
}
.post-author.role-id2, .news-author.role-id2 {
	color: #7C1519;
}
.post-date, .news-date {
	font-size: 10px;
	font-weight: normal;
	color: #9D9D9D;
}

.more-wrapper {
	font-size: 12px;
	letter-spacing: .05em;
	margin-bottom: 50px;
	background: #EDEDED;
}
.more-wrapper .submenu-title {
	text-indent: 5px;
	font-size: 10px;
	letter-spacing: 0;
	color: #8A8A8A;
}
.more-wrapper .submenu {
	background: #fff;
	margin: 10px 0;
}
.more-wrapper .submenu:first-of-type {
	margin-top: 0;
}
.more-wrapper .submenu li {
	list-style: none;
}
.more-wrapper .submenu li a {
	border-bottom: .09em solid #E2E2E2;
	display: block;
	padding: 10px 0;
	color: #000;
}
.more-wrapper .submenu li:active {
	background: #d7d7d7;
}
.more-wrapper .submenu li:last-of-type {
	border-bottom: none;	
}

.subject {		
	display: block;
	background: #fff;
	margin: 15px 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	box-shadow: 0px 3px 6px #7C1519;
	letter-spacing: .08em;
	font-weight: 600;
}

.profile-wrapper .subjects-wrapper .subject .subject-teaser .teaser-post-item {
	font-size: 12px;
	padding: 5px 10px;
	border-top: 1px solid #B1B1B1;
	letter-spacing: .08em;
}
.profile-wrapper .subjects-wrapper .subject .subject-teaser .teaser-post-item .post-date {
	color: #555;
	font-size: 11px;
}

.cell-top {
	border: 1px solid #BCBCBC;
	background: #fff;
	border-bottom: none;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 10px;
}
.cell-middle {
	border: 1px solid #BCBCBC;
	background: #fff;
	border-bottom: none;
	padding: 10px;
}
.cell-bottom {
	border: 1px solid #BCBCBC;
	background: #fff;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 10px;
	margin-bottom: 10px;
}

.subject-more .icon {
	font-size: 20px;
	font-weight: bold;
}

.subject-options button {
	font-weight: bold;
}
.subject-options .add-student {
	border-top-left-radius: 0;
}
.subject-options .info {
	border-top-right-radius: 0;	
}

.delete-post, .delete-news {
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.delete-post i, .delete-news i {
	display: block;
	width: 10px;
	border: 1px solid #7C7A7A
}

.error-view {
	text-align: center;
	position: fixed;
	top: 30%;
	color: #8C8C8C;
}


.student .course-yearsection {
	font-size: 10px;
	font-weight: normal;
	color: #9D9D9D;
}

.subject-addstudent {
	background: #fff;
	padding: 10px 0;
	margin-top: -5px;
	border-radius: 5px;
	box-shadow: 0px 1px 2px #757272;
}

.schedule.table tr {	
	background: #fff;
}

.profile-wrapper .profile-info {
	background: #fff;
	margin-top: -5px;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 1px 2px #434343;
}
.profile-wrapper .subjects-wrapper a {
	color: #333;
}

.add-event {
	margin-top: 3px;
	margin-right: 10px;
	background-color: rgba(180, 56, 61, 0.4);
	border: none;
	color: #fff;
}
.add-event:hover {
	background-color: rgba(180, 56, 61, 0.4);
	color: #fff;	
}




























/*CALENDAR*/ 
table.calendar { 
	width: 100%; 
	border: 2px solid #7C1519; 
}
table.calendar td.calendar-day-head {
	background: #7C1519;
	color: #fff;
	text-align: center;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
table.calendar td.calendar-day-np { 
	background:#eee; min-height:80px; 
}
table.calendar td {
	border: 1px solid #7C1519;
	width: 12%;
	padding: 0;
	margin: 0;
}
table.calendar td.calendar-day {
	color: #333; 
	font-size: 12px;
	height: 60px;
	background: #fff;  
}
.day-number {
	margin: 0 0 0 5px;
}
.calendar-day.egg {
	color: #fff;
	background: #E82323;
}
.calendar-day.egg .day-info {  
	background: #fff;
	color: #000;
	width: 90%;
	margin: 0 auto; 
	font-size: 90%;
	border-radius: 2px;  
}  
.day-info {
	text-align: center;
	color: #333;
	height: 15px;
}
.day-info.mens {
	background: #E82323;
	color: #fff;
	width: 90%;
	margin: 0 auto; 
	font-size: 90%;
	border-radius: 2px; 
} 

.day-count { 
	font-size: 90%; 
	font-weight: bold;
	float: right;
	margin-right: 5px;
	color: #7C1519;
}
.mid-filler {
	height: 20px;
}
.whole-filler {
	height: 55px;
}

table.calendar td.has-event {
	background: #7C1519;
	color: #fff;
}

.add-grade-info {
	background: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.add-grade-average {
	border-top: 1px solid #B1B1B1;
}