<div class="more-wrapper">
	<div class="row">
		<div class="submenu col-xs-12">
			<li><a href="#profile"><img src="{{photo}}" height="20" width="20"> {{name}}</a></li>
			<li><a href="#zxc"><i class="fa fa-pencil-square-o"></i> Update Info</a></li>
			<li><a href="#zxc"><i class="fa fa-list-alt"></i> Class Schedule</a></li>
			{{#if isStudent}}
				<li><a href="#zxc"><i class="fa fa-eye"></i> View Grades</a></li>
			{{else}}
				<li><a href="#zxc"><i class="fa fa-eye"></i> Input Grades</a></li>
			{{/if}}
		</div>
		<div class="submenu-title">SUBJECTS</div>
		<div class="submenu col-xs-12">
			<li><a href="#zxc"><i class="fa fa-users"></i> Fundamentals of Management</a></li>
			<li><a href="#zxc"><i class="fa fa-users"></i> Principles of Marketing</a></li>
			<li><a href="" onclick="App.confirmLogout()"><i class="fa fa-power-off"></i> Log Out</a></li>
		</div>
	</div>
</div>