{{#each news}}
<div class="post row">
	<div class="col-xs-12">
		<img class="pull-left profile-pic" src="{{user.photo}}" height="34" width="34">
		<span class="col-xs-10 news-author role-id{{user.role_id}}">
			{{user.name}}
			<div class="news-date" title="{{created_at}}"></div>
		</span>
		{{#ifEqual user.id ../user.id }}
			<div class="delete-news" data-id="{{id}}"><i></i></div>
		{{/ifEqual}}
	</div>

	<h5 class="news-title col-xs-12" style="text-align: center; font-weight: 600">{{title}}</h5>

	<div class="news-body col-xs-12" data-id="{{id}}">{{#nl2br}}{{body}}{{/nl2br}}</div>
</div>
{{/each}}