{{#each posts}}
<div class="post row">
	<div class="col-xs-12">
		<img class="pull-left profile-pic" src="{{user.photo}}" height="34" width="34">
		<span class="col-xs-10 post-author role-id{{user.role_id}}">
			{{user.name}}
			<div class="post-date" title="{{created_at}}"></div>
		</span>
		{{#ifEqual user.id ../user.id }}
			<div class="delete-post" data-id="{{id}}"><i></i></div>
		{{/ifEqual}}
	</div>

	<div class="post-body col-xs-12" data-id="{{id}}">{{#nl2br}}{{body}}{{/nl2br}}</div>
</div>
{{/each}}