<div class="header-wrapper row">
	<a href="#dashboard" class="header col-xs-6">
		<img src="img/logo2.png" height="35">
	    <span class="title">UPDEPP</span>

	    {{#ifEqual user.role.name 'student'}}
	    {{else}}
			<a href="#calendar?action=addevent" class="btn btn-sm btn-default pull-right add-event">Add event</a>
		{{/ifEqual}}
	</a>
</div>

<div class="row" style="margin-bottom: 5px;">
	<div class="col-xs-7">
		<select name="month" class="form-control">
			<option value="0">January</option>
			<option value="1">February</option>
			<option value="2">March</option>
			<option value="3">April</option>
			<option value="4">May</option>
			<option value="5">June</option>
			<option value="6">July</option>
			<option value="7">August</option>
			<option value="8">September</option>
			<option value="9">October</option>
			<option value="10">November</option>
			<option value="11">December</option>
		</select>
	</div>
	<div class="col-xs-5">
		<select name="year" class="form-control">
		</select>
	</div>
</div>