<div class="row">
	<div class="col-xs-12">
		<label>Event name:</label>
		<input type="text" name="event-name" class="form-control"/>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12">
		<label>Event description:</label>
		<textarea name="event-description" class="form-control" style="resize: none;">
		</textarea>
	</div>	
</div>
<div class="row form-group">
	<div class="col-xs-12">
		<label>Date:</label>
		<input type="text" name="event-date" class="form-control"/>
	</div>	
</div>

<span class="btn btn-primary col-xs-12 post-new-event">Add Event</span>