<div class="createsubject-wrapper">
	<form role="form" id="form-create-subject">
		<div class="form-group">
			<label class="">Subject code:</label>
			<input type="text" class="form-control" name="subject-code" placeholder="MKTG-1"/>
		</div>
		<div class="form-group">
			<label class="">Subject name:</label>
			<input type="text" class="form-control" name="subject-name" placeholder="Marketing - 1"/>
		</div>
		<div class="form-group">
			<label class="">Schedule:</label>
			<input type="text" class="form-control" name="schedule" placeholder="MWF 9:30am-11:00am"/>
		</div>
		<div class="form-group">
			<label class="">Description:</label>
			<textarea class="form-control" style="resize: none;" name="description"></textarea>
		</div>

		<div class="form-group">
			<input type="submit" class="col-xs-12 btn btn-primary btn-md" value="Create Subject">
		</div>
	</form>
</div>