<div class="row item-rows">
    <div class="col-xs-3 col-sm-2 item" style="text-align: center">
        <a href="#news"><img class="item-img" src="img/news.png"></a>
        <div class="item-label">news</div>
    </div>

    <div class="col-xs-3 col-sm-2 item" style="text-align: center">
        <a href="#profile"><img class="item-img" src="img/home.png"></a>
        <div class="item-label">profile</div>
    </div>

    <div class="col-xs-3 col-sm-2 item" style="text-align: center">
        <a href="#grades"><img class="item-img" src="img/grades.png"></a>
        <div class="item-label">grades</div>
    </div>

    <div class="col-xs-3 col-sm-2 item" style="text-align: center">
        <a href="#schedule"><img class="item-img" src="img/sched.png"></a>
        <div class="item-label">schedule</div>
    </div>

    <div class="col-xs-3 col-sm-2 item" style="text-align: center">
        <a href="#subjects"><img class="item-img" src="img/subjects.png"></a>
        <div class="item-label">subjects</div>
    </div>

    <div class="col-xs-3 col-sm-2 item" style="text-align: center">
        <a href="#calendar"><img class="item-img" src="img/calendar.png"></a>
        <div class="item-label">calendar</div>
    </div>

    {{#ifEqual role.name 'prof'}}
        <div class="col-xs-3 col-sm-2 item" style="text-align: center">
            <a href="#signups"><img class="item-img" src="img/signups.png"></a>
            <div class="item-label">signups</div>
        </div>
    {{/ifEqual}}

    <div class="col-xs-3 col-sm-2 item" style="text-align: center">
        <img class="item-img" src="img/logout.png" onclick="App.confirmLogout();" style="height: 54px;">
        <div class="item-label">logout</div>
    </div>
</div>

<div class="logo col-xs-12">
    <img src="img/logo.png" width="100%" />
</div>