<div class="col-xs-12 add-grade-info">
	<div class="add-grade-name">{{user.name}}</div>
	<div class="add-grade-average">General Average: {{average}}%</div>
</div>

{{#arrayIntersect rules grades 'rules' 'grades'}}
	{{#each rules}}
		<div class="form-group">
			<label class="">{{criteria}} ({{percent}}%):</label>
			<input type="number" class="form-control" data-id="{{id}}" data-criteria="{{criteria}}" value="{{grades.value}}"/>
		</div>
	{{/each}}	
{{/arrayIntersect}}

<span class="col-xs-12 btn btn-primary save-grade">Save grades</span>
