<div class="row form-group">
	<div class="col-xs-9">
		<label>Criteria</label>
		<input type="text" class="form-control" name="grade-criteria" placeholder="Long Exam 1"/>
	</div>
	<div class="col-xs-3">
		<label>(%)</label>
		<input type="number" class="form-control" name="grade-percent" placeholder="20"/>
	</div>
</div>

<div class="row form-group">
	<div class="col-xs-12">
		<span class="btn btn-primary save-rule">Save grading rule</span>
	</div>
</div>

{{#ifEqual rules.length 0}}
{{else}}
	<table class="table schedule">
		<tr>
			<th class="left">Criteria</th>
			<th>:</th>
			<th class="right">Percent (%)</th>
		</tr>

		{{#each rules}}
			<tr>
				<td class="left">{{criteria}}</td>
				<td>:</td>
				<td class="right">{{percent}}%</td>
			</tr>
		{{/each}}
	</table>
{{/ifEqual}}