<div class="jumbotron">
  <p>You can purchase load in the form of prepaid cards.</p>
  <span>Scratch the back and enter the code below.</span>
</div>

<div class="row add-post-wrapper" style="margin-top: 18px; margin-bottom: 18px;">
	<div class="col-xs-9">
		<input type="text" name="load-code" class="form-control"/>
	</div>
	<span class="redeem-load btn btn-sm btn-primary" style="margin-top: 2px;">Redeem</span>
</div>
