<div class="col-xs-12 add-grade-info">
	<div class="add-grade-name">{{user.name}}</div>
	<div class="add-grade-average">General Average: {{average}}%</div>
</div>

<table class="table schedule">
	{{#arrayIntersect rules grades 'rules' 'grades'}}
		{{#each rules}}
			<tr>
				<td class="left">{{criteria}} ({{percent}}%)</td>
				<td>:</td>
				<td class="right">{{grades.value}}</td>
			</tr>
		{{/each}}	
	{{/arrayIntersect}}
</table>
