<div class="news row">
	<div class="col-xs-12">
		<img class="pull-left profile-pic" src="{{news.user.photo}}" height="34" width="34">
		<span class="col-xs-10 news-author role-id{{news.user.role_id}}">
			{{news.user.name}}
			<div class="news-date" title="{{news.created_at}}"></div>
		</span>
	</div>

	<div class="news-body col-xs-12">{{#nl2br}}{{news.body}}{{/nl2br}}</div>
</div>

