<div class="header-wrapper row">
	<a href="#dashboard" class="header col-xs-6">
		<img src="img/logo2.png" height="35">
	    <span class="title">UPDEPP</span>

	    {{#ifEqual user.role.name 'admin' }}
			<a href="#news?action=addnews" class="btn btn-sm btn-default pull-right add-event">Publish News</a>
		{{else}}
		    {{#ifEqual accountLoad '0' }}
		    	<a href="#load" class="btn btn-sm btn-default pull-right add-event">Purchase Load</a>
			{{else}}
				<a href="#news?action=addnews" class="btn btn-sm btn-default pull-right add-event">Publish News</a>
			{{/ifEqual}}
		{{/ifEqual}}
	</a>
</div>

<div class="newss">
	{{> news}}
</div>