<div class="createsubject-wrapper">
	<div class="form-group">
		<label class="">Title:</label>
		<input type="text" class="form-control" name="news-title"/>
	</div>

	<div class="form-group">
		<label class="">Body:</label>
		<textarea class="form-control" style="resize: none;" name="news-body"></textarea>
	</div>

	<div class="form-group">
		<span class="col-xs-12 btn btn-primary btn-md publish-news">Publish News</span>
	</div>
</div>