<div class="post row">
	<div class="col-xs-12">
		<img class="pull-left profile-pic" src="{{post.user.photo}}" height="34" width="34">
		<span class="col-xs-10 post-author role-id{{post.user.role_id}}">
			{{post.user.name}}
			<div class="post-date" title="{{post.created_at}}"></div>
		</span>
	</div>

	<div class="post-body col-xs-12">{{#nl2br}}{{post.body}}{{/nl2br}}</div>
</div>

