<div class="profile-wrapper">
	<div class="row profile-info">
		<div class="col-xs-2">
			<img src="{{user.photo}}" height="60" width="60">
		</div>
		<div class="col-xs-9">
			<div class="col-xs-12">{{user.name}}</div>
			<div class="col-xs-12">{{user.email}}</div>
		</div>
	</div>

	{{#each stories}}
	<div class="subjects-wrapper row">
		<a href="#subjects?id={{id}}" class="col-xs-12">
			<div class="subject">
				<div class="row">
					<div class="col-xs-10" style="margin: 5px;"><b>{{name}}</b></div>
				</div>

				{{#each posts}}
				<div class="subject-teaser row">
					<div class="col-xs-12">
						<div class="teaser-post-item">
							<img class="pull-left" src="{{user.photo}}" height="34" width="34" style="margin-right: 5px;">
							<span>{{user.name}}</span>
							</br>
							<span class="post-date" title="{{created_at}}"></span>

							<div class="teaser-post-content post-body row">
								<div class="col-xs-12">
									<p>{{#nl2br}}{{body}}{{/nl2br}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}


			</div>
		</a>
	</div>
	{{/each}}
</div>