<div class="row">
	{{#each students}}
	<div class="post row student">
		<div class="col-xs-12">
			<img class="pull-left profile-pic" src="{{photo}}" height="34" width="34">
			<span class="col-xs-10">
				{{name}}
				<div class="course-yearsection">{{course}} {{yearsection}}</div>
			</span>
			<span class="confirm-student btn btn-xs btn-primary" data-id="{{id}}" style="position: absolute; top: 7px; right: 7px;">
				Confirm
			</span>
		</div>
	</div>
	{{/each}}
</div>