<div class="subject-info cell-top">
	<h3 class="subject-name">{{subject.name}}</h3>
	<span class="subject-prof" style="font-size: 12px">
		{{subject.user.name}}<br>{{subject.schedule}}
	</span>
</div>

<div class="btn-group btn-group-justified subject-options" role="group" aria-label="...">
	<a href="#subjects?id={{subject.id}}&tab=searchstudent" class="btn-group" role="group">
		<button type="button" class="btn btn-default add-student red">Add Student</button>
	</a>
	<a href="#subjects?id={{subject.id}}&tab=info" class="btn-group" role="group">
		<button type="button" class="btn btn-default info red">Info</button>
	</a>
</div>

<div class="row add-post-wrapper" style="margin-top: 18px; margin-bottom: 18px;">
	<div class="col-xs-9">
		<textarea class="input-post form-control" style="resize: none;"></textarea>
	</div>
	<div class="col-xs-3" style="margin-top: 10px;">
		<a href="" class="subject-new-post btn btn-sm btn-primary">POST</a>
	</div>
</div>

<div class="posts">
	{{> posts}}
</div>