<div class="subject-addstudent row">
	<div class="col-xs-9">
		<input type="text" class="form-control" name="student-name" style="height: 30px;"/> 
	</div>
	<div class="col-xs-2 btn btn-primary btn-sm search" style="padding: 5px 0;">Search</div>
</div>


{{#ifEqual students.length 0}}
	<div class="row" style="padding: 5px 0; text-align: center">
		<div class="col-xs-12">No suggestions found</div>
	</div>
{{else}}
	<div class="row" style="padding: 5px 0;">
		<div class="col-xs-12">Suggested members</div>
	</div>

	<div class="row">
		{{#each students}}
		<div class="post row student">
			<div class="col-xs-12">
				<img class="pull-left profile-pic" src="{{photo}}" height="34" width="34">
				<span class="col-xs-10">
					{{name}}
					<div class="course-yearsection">{{course}} {{yearsection}}</div>
				</span>
				<span class="add-student btn btn-xs btn-primary" data-id="{{id}}" style="position: absolute; top: 7px; right: 7px;">
					Add
				</span>
			</div>
		</div>
		{{/each}}
	</div>
{{/ifEqual}}
