<div class="subject-info cell-top">
	<h4 class="subject-name" style="margin-bottom: 0;">{{subject.name}}</h4>
	<span class="subject-prof" style="font-size: 12px; color: #7F7F7F;">
		{{subject.user.name}}<br>{{subject.schedule}}
	</span>
</div>
<div class="subject-description cell-bottom">{{subject.description}}</div>

<div class="subject-more">
	<a href="#subjects?id={{subject.id}}">
		<div class="subject-info cell-top">Discussion 
			<i class="pull-right icon fa fa-angle-right"></i>
		</div>
	</a>
	<a href="#subjects?id={{subject.id}}&tab=searchstudent">
		<div class="subject-info cell-middle">Add Student 
			<i class="pull-right icon fa fa-angle-right"></i>
		</div>
	</a>
	<a href="#grades?subject={{subject.id}}&action=addrule">
		<div class="subject-info cell-middle">Grading System 
			<i class="pull-right icon fa fa-angle-right"></i>
		</div>
	</a>
	{{#ifEqual user.role.name 'student'}}
		<a href="#grades?subject={{subject.id}}">
			<div class="subject-info cell-middle">View Grades 
				<i class="pull-right icon fa fa-angle-right"></i>
			</div>
		</a>
	{{else}}
		<a href="#grades?subject={{subject.id}}">
			<div class="subject-info cell-middle">Input Grades 
				<i class="pull-right icon fa fa-angle-right"></i>
			</div>
		</a>
	{{/ifEqual}}
	<a href="#subjects?id={{subject.id}}&tab=students">
		<div class="subject-description cell-bottom">View Students 
			<i class="pull-right icon fa fa-angle-right"></i>
		</div>
	</a>
</div>