{{#ifEqual user.role.name 'prof'}}
<div class="row">
	<div class="col-xs-12">
		<a href="#createsubject" class="btn btn-primary btn-sm">New Subject</a>
	</div>
</div>
{{/ifEqual}}

{{#each subjects}}
	<a href="#subjects?id={{id}}" class="subject row">
		<div class="col-xs-9">{{name}}</div>
	</a>
{{/each}}