{{#each students}}
<div class="post row student">
	<div class="col-xs-12">
		<img class="pull-left profile-pic" src="{{photo}}" height="34" width="34">
		<span class="col-xs-10">
			{{name}}
			<div class="course-yearsection">{{course}} {{yearsection}}</div>
		</span>
		<a href="#grades?subject={{../subjectId}}&user={{id}}" class="btn btn-xs btn-primary" style="position: absolute; top: 6px; right: -5px;">enter grades</a>
	</div>
</div>
{{/each}}